.tier-changer {
  position: absolute;
  left:25px;
  bottom:0px;
  width:40px;
  border-radius: 50%;
  background: lightgrey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
//   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
